/SDBS3000/bin/Debug
/SDBS3000.Log/bin/Debug
/SDBS3000.Ucs/bin/Debug
/SDBSEntity/bin/Debug
/SDBS3000.Log/obj/Debug
/SDBS3000/obj/Debug
/SDBS3000.Ucs/obj/Debug
/SDBSEntity/obj/Debug
/出厂设置/obj/Debug
/出厂设置/bin/Debug
/.vs
