<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SDBS3000.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<add key="rememberpsd" value="true" />
		<add key="ClampComp" value="true" />
		<add key="lastrotor" value="1" />
		<!--可选项:sql;mysql;oracle-->
		<add key="DatabaseType" value="sql" />
		<add key="Language" value="0" />
		<add key="COM1" value="COM15" />
		<add key="COM2" value="COM16" />
		<add key="PLCIP" value="192.168.1.123" />
		<add key="License" value="F0-D2-49-01-6B-53-A0-89-11-AE-18-3D-94-A3-74-4B-24-CF-98-E4-5B-71-24-05-0B-4B-12-18-E9-62-2B-51" />
		<add key="OperatorLimit" value="1,1,1,1" /> 
		<!--操作员权限管理(1打开0关闭)：夹具补偿、键补偿、定位、打印-->
		<add key="OperatorLimit" value="1,1,1,1" />
		<!--机器设置 测量模式：连续普通测量0   普通测量停止1  测量定位2-->
		<add key="set_rpm" value="1600" />
		<!--1定位转速 2加速时间 3减速时间 4每转脉冲数 5定位补偿 6转差补偿 7转子槽数 8正反转 9开关类型 10预热时间（s）-->
		<add key="Posspeed" value="60" />
		<add key="Posatime" value="2.2" />
		<add key="Posdtime" value="2.2" />
		<add key="Posnum" value="2200" />
		<add key="Posbc" value="0" />
		<add key="Poszcbc" value="0" />
		<add key="Poscs" value="12" />
		<add key="Poszfz" value="1" />
		<add key="Poskglx" value="0" />
		<add key="Poszcbc" value="0" />
		<add key="Warmtime" value="60" />
		<add key="SpeedFactor" value="1" />
		<!--平衡等级 -->
		<add key="Phdj" value="1" />
		<add key="Gzzs" value="1000" />
		<add key="Gjzl" value="2" />
		<add key="url" value="C:\Users\Han\Desktop\SDBS3000\SDBS3000\bin\Debug\config" />
		<add key="url2" value="C:\Users\Han\Desktop\SDBS3000\SDBS3000\bin\Debug\config" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<runtime>
		<legacyUnhandledExceptionPolicy enabled="1" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Expression.Interactions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<connectionStrings>
		<add name="sql" connectionString="server=.;uid=sa;pwd=123jp;database=SDBS3000;Connect Timeout=3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <SDBS3000.Properties.Settings>
   <setting name="Jjbc" serializeAs="String">
    <value>False</value>
   </setting>
  </SDBS3000.Properties.Settings>
 </userSettings>
</configuration>
